doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
div(style="padding: 0% 20%;")
  body
    div(style="text-align: center;")
      img(src="https://mcusercontent.com/d2167306023387633d8a3e6c1/images/4bdc576c-bebf-ae66-2b44-47272f76da02.png", alt="", width="200", style="max-width:24%; padding-bottom: 0; display: inline !important; vertical-align: middle; margin: 60px 0px;")

      
    h2(style="font-family: sans-serif;")
        | Olá, #{username}.
          
          
    p(style="display: inline; font-family: sans-serif;")
      | Faço parte da equipe responsável pelo sistema Capti. Temos o prazer de convidá-lo(a) para conhecer nossa plataforma e aproveitar seus recursos. 
    
    p(style="margin: 3% 0%; font-family: sans-serif;")
      | Para validarmos seu acesso, clique no botão abaixo:   
      
    div(style="text-align: center;")
        a.button(href=servicePath, style="background-color: #576b74;border-radius: 7px;color: #fff !important; border: 2px solid #000; padding: 10px 20px; text-decoration: none; display:  inline-block;vertical-align: middle; margin: 28px 0px; font-family: sans-serif;") Nova senha
    
    p(style="margin: 7% 0%; font-family: sans-serif;")
      | Em seguida siga as instruções para criar sua senha de acesso.
    
      
    p(style="margin: 3% 0%; font-family: sans-serif;")
      | Caso tenha alguma dúvida ou precise de suporte, estamos à disposição para ajudar através do e-mail suporte@captia.com.br
    


    p(style="font-family: sans-serif; line-height: 1px;") 
      | 


    p(style="margin: 7% 0% 0% 0%; font-family: sans-serif;")
      | Atenciosamente,
    
    p(style="line-height: 1px; font-family: sans-serif;")
      | Equípe CaptIA