doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
div(style="padding: 0% 20%;")
  body
    div(style="text-align: center;")
      img(src="https://mcusercontent.com/d2167306023387633d8a3e6c1/images/4bdc576c-bebf-ae66-2b44-47272f76da02.png", alt="", width="200", style="max-width:24%; padding-bottom: 0; display: inline !important; vertical-align: middle; margin: 60px 0px;")

      
    h2(style="font-family: sans-serif;")
        | Email de Teste
          
          
    p(style="display: inline; font-family: sans-serif;")
      | #{message}