doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
div(style="padding: 0% 20%;")
  body
    div(style="text-align: center;")
      img(src="https://mcusercontent.com/d2167306023387633d8a3e6c1/images/4bdc576c-bebf-ae66-2b44-47272f76da02.png", alt="", width="200", style="max-width:24%; padding-bottom: 0; display: inline !important; vertical-align: middle; margin: 60px 0px;")

    
    h2(style="font-family: sans-serif;")
      | Olá,  
      span(style="color: black; font-weight: bold; font-family: sans-serif;") #{username}
      | seja bem-vindo(a)!

    p(style="font-family: sans-serif;")
      | Antes de acessar o sistema, precisamos confirmar o endereço de email informado. Para realizar a validadção, por favor, clique no botão abaixo: 
   
    div(style="text-align: center;")
        a.button(href=servicePath, style="background-color: #57e8b8;border-radius: 7px;font-family: sans-serif; color: #000; padding: 10px 20px; text-decoration: none; display:  inline-block;vertical-align: middle; margin: 28px 0px;") Ativar sua Conta

    p(style="font-family: sans-serif;")
      | No caso do botão acima expirar ou da ocorrência de algum problema ao definir sua senha pela primeira vez, você pode utilizar a funcionalidade de recuperação de senha localizada na tela de login do sistema.
    p(style="margin: 45px 0px 31px; font-family: sans-serif;")
      | Em caso de dúvidas, envie-nos um e-mail para Suporte@captia.com.br
      
    p(style="font-family: sans-serif;")
      | Atenciosamente,
    
    p(style="line-height: 1px; font-family: sans-serif;")
      | Equípe CaptIA